/* body */
body {
	font-family: 'Hiragino Kaku Gothic ProN', arial, sans-serif;
	font-size: medium;
}

/* Video */
.videosContainer {
    position: absolute;
    width: 90vw;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid;
    margin: auto;
}
